@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100;300;400;500;600;700;800&display=swap');

body {
  background-color: black;
}

/* Estilo de la entrada */
h1 {
  color: white;
  margin: 25% 0 2%;
  font-size: 270%;
  text-align: center;
  font-family: 'Lexend', sans-serif;
}

.entrada a {
  color: #E6C005;
  border: none;
  font-size: 200%;
  font-weight: bold;
  font-family: 'Courier Prime', monospace;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: black;
}

.entrada a:hover {
  color: #FCBB08;
}

.entrada #LOGO-1 {
  left: 1%;
  width: 35%;
  bottom: 2%;
  position: absolute;
}

.entrada #LOGO-2 {
  right: 2%;
  width: 8%;
  bottom: 2%;
  position: absolute;
}

/*Estilo de la página principal*/
.principal {
  display: none;
  padding: 0;
  margin: 0;
}

main {
  margin: 5% 10%;
}

/* Links a las distintas piezas (parecido a map pero es responsive)*/
button {
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  position: absolute;
}

#i {
  top: 28%;
  left: 26%;
  width: 12%;
  height: 15%;
}

#ii {
  top: 37%;
  left: 67%;
  width: 17%;
  height: 14%;
}

#img01 {
  display: none;
}

@media screen and (max-width: 1000px) {
  .entrada h1 {
    margin: 45% 0 0;
  }

  .entrada #LOGO-1 {
    width: 50%;
  }

  .entrada #LOGO-2 {
    width: 11%;
  }
}

@media screen and (max-width: 500px) {
  .entrada h1 {
    margin: 45% 0 0;
  }

  .entrada #LOGO-1 {
    width: 70%;
  }

  .entrada #LOGO-2 {
    width: 15%;
  }
}
