@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100;300;400;500;600;700;800&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=oov2wcw&ht=tk&f=39203&a=2613646&app=typekit&e=css");

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

/* ----- Estilo de la entrada ----- */
#entrada {
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: linear 0.3s;
}

#titulo1 {
  color: white;
  margin: 22% 0 2%;
  font-size: 350%;
  text-align: center;
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  transition: 0.5s;
}

/* link para entrar */
.entrada p {
  text-align: center;
  display: block;
}

#selecEntrar {
  color: #DCAF04;
  border: none;
  font-size: 200%;
  font-weight: 700;
  font-family: 'Courier Prime', monospace;
  text-decoration: none;
  background-color: black;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 0.05em;
}

#selecEntrar:hover {
  color: #FAD30F;
  font-size: 210%;
}

/* logos de la parte inferior de la página */
.entrada #LOGO-1 {
  left: 1%;
  width: 35%;
  bottom: 2%;
  position: absolute;
}

.entrada #LOGO-2 {
  right: 2%;
  width: 8%;
  bottom: 2%;
  position: absolute;
}

/* ----- Estilo de la página principal ----- */
#principal {
  display: none;
  padding: 0;
  margin: 0;
}

main {
  margin: 0;
  padding: 0;
}

/* - Links a las distintas piezas (parecido a map pero es responsive) - */
.map {
  background-color: rgb(255, 255, 255, 0.8);
  position: absolute;
  opacity: 0;
  transition: 0.2s;
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 150%;
  text-align: left;
  border: solid black 2.5px;
  letter-spacing: 0.03em;
  width: auto;
  height: auto;
  padding: 0.2% 0.2% 0.2% 0.2%;
  cursor: pointer;
  filter: drop-shadow(5px 5px 6px rgb(0, 0, 0, 0.3));
}

.map:hover {
  opacity: 1;
}

#c01 {
  top: 35%;
  left: 22%;
  width: 14%;
}

#ii {
  top: 38%;
  left: 66%;
  width: 23%;
}

#iii {
  top: 62%;
  left: 80%;
  width: 11%;
}

#iv {
  top: 57%;
  left: 54%;
  width: 7%;
}

#v {
  top: 58%;
  left: 42%;
  width: 8%;
}

#vi {
  top: 85%;
  left: 42%;
}

#vii {
  top: 55%;
  left: 30%;
  transform: scale(0.8);
}

#viii {
  top: 53%;
  left: 7%;
  width: 13%;
}

#ix {
  top: 48%;
  left: 60%;
  transform: scale(0.8);
  width: 7%
}

#x {
  top: 63%;
  left: 63%;
  transform: scale(0.8);
}

#xi {
  top: 35%;
  left: 44%;
}

/* - Contenedores de las piezas que salen al darle clic a los links - */
.containers {
  padding: 0;
  opacity: 0;
  transition: 0.3s;
  display: none;
  bottom: 5%;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 0 12%;
}

/* Títulos de las piezas dentro de los contenedores */
.containers p {
  display: block;
  width: 90%;
  font-family: "century-gothic", sans-serif;
  font-weight: bold;
  font-size: 250%;
  float: left;
  margin: 1% 0 0 0;
}

/* imágenes */
#imgc01 {
  display: none;
  width: 100%;
}

/* Botón para salir de la pieza */
.close {
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  font-size: 350%;
  transition: 0.6s;
  background-color: rgb(255, 255, 255, 0);
  cursor: pointer;
  padding: 0;
  border: none;
  position: absolute;
}

.close:hover {
  transform: rotate(180deg);
}

/* responsive para los diferentes tamños de pantalla */
@media screen and (max-width: 1030px) {
  .titulo1 {
    margin: 45% 0 0;
  }

  .entrada #LOGO-1 {
    width: 50%;
  }

  .entrada #LOGO-2 {
    width: 11%;
  }

  .map {
    background-color: white;
    display: block;
    border: none;
    height: auto;
    padding: 10%;
    opacity: 1;
    position: relative;
  }

  #c01, #ii, #iii, #iv, #v, #vi, #vii, #viii, #ix, #x, #xi {
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(1);
    background-color: #012340;
    color: white;
  }

  #ii, #vi, #x {
    background-color: #5A7302;
    color: white;
  }

  #iii, #vii, #xi {
    background-color: #B68602;
    color: white;
  }

  #iv, #viii {
    background-color: #966B4A;
    color: white;
  }

  .containers {
    padding: 0;
    opacity: 0;
    transition: 0.3s;
    display: none;
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 1);
    padding: 0;
  }

  .close {
    font-size: 250%;
  }
}

@media screen and (max-width: 500px) {
  .entrada h1 {
    margin: 45% 0 0;
  }

  .entrada #LOGO-1 {
    width: 70%;
  }

  .entrada #LOGO-2 {
    width: 15%;
  }
}
